.page.theme_dark {
  --accent-color: #ff0070;
  --bg-color: #000028;
  --bg-image: url("../images/cover-image-dark.png");
  --decorated-zone-color: #ff0070;
  --text-color: #f1b2ce;
  --title-color: #db00ff;
  --title-shadow-color: #ff0070;
  --title-decor-color: #000028;
  --section-title-color: #ff0070;
  --button-color: #ff0070;
  --button-color-hover: rgba(255, 0, 112, .4);
}

.theme_dark .header__decorated-lamp {
  display: flex;
}