.page.theme_light {
  --accent-color: #ff8dcb;
  --bg-color: #fff1f7;
  --bg-image: url("../images/cover-image-light.png");
  --decorated-zone-color: #353430;
  --text-color: #353430;
  --title-color: #ffc2e6;
  --title-shadow-color: #ff8dcb;
  --title-decor-color: #131107;
  --section-title-color: #353430;
  --button-color: #353430;
  --button-color-hover: rgba(50, 49, 45, .4);
}

.theme_light .header__decorated-lamp {
  display: none;
}

@media (prefers-color-scheme: light) {
  :root {
    --accent-color: #ff8dcb;
    --bg-color: #fff1f7;
    --bg-image: url("../images/cover-image-light.png");
    --decorated-zone-color: #353430;
    --text-color: #353430;
    --title-color: #ffc2e6;
    --title-shadow-color: #ff8dcb;
    --title-decor-color: #353430;
    --section-title-color: #353430;
    --button-color: #353430;
    --button-color-hover: rgba(50, 49, 45, .4);
  }
  .header__decorated-lamp {
    display: none;
  }
}

@media (min-width: 1024px) {
  .header__title, .footer__title {
    text-shadow: 4px 4px 0 #ff0070;
  }
}